nav {
  background-color: #232323;
  font-size: 1.5rem;
  box-shadow: 2px 7px 10px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 7px 10px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 7px 10px -2px rgba(0, 0, 0, 0.2);
}

nav a {
  color: #D65A31;
  text-decoration: none;
}

nav a:hover {
  color: #aa4726 !important;
}

.fas.fa-laptop-code {
  -webkit-animation: rotation 15s infinite linear;
          animation: rotation 15s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@media only screen and (min-width: 768px) {
  nav i {
    margin-left: 30rem;
  }
  nav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    height: auto;
    width: auto;
    padding: auto;
  }
  nav div ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: radial-gradient(#222831 0%, #1e212a 96%, #232323 100%);
  font-family: "Quattrocento", serif;
}

body h1 {
  color: #D65A31;
  text-align: center;
  margin-top: 2rem;
}

img {
  border-radius: 10rem;
  margin-bottom: 1rem;
}

.subtitulo {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.card {
  border-radius: 2rem;
  background-color: #232323;
  color: whitesmoke;
  text-align: center;
  box-shadow: 2px 7px 10px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 7px 10px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 7px 10px -2px rgba(0, 0, 0, 0.2);
}

.card div {
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .card div {
    margin: 1rem;
  }
  img {
    width: 100%;
  }
  h1 {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .subtitulo {
    margin-bottom: 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  border-radius: 10rem;
  margin-bottom: 1rem;
}

.card {
  border-radius: 2rem;
  background-color: #232323;
  color: whitesmoke;
  text-align: center;
  box-shadow: 2px 7px 10px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 7px 10px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 7px 10px -2px rgba(0, 0, 0, 0.2);
}

.card div {
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .card div {
    margin: 1rem;
  }
  img {
    width: 100%;
  }
  h1 {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}

body {
  color: whitesmoke;
}

body main {
  margin-bottom: 8rem;
}

body main label {
  text-align: end;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 0px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #D65A31;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #D65A31;
  width: 20px;
}

.contactoForm {
  border-radius: 5px;
  background-color: #232323;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #232323;
  padding: 2rem;
  margin-top: 10rem;
}

footer div {
  margin: 10%;
}

footer a {
  color: #D65A31;
  text-decoration: none;
}

footer a:hover {
  color: #aa4726;
}

@media only screen and (min-width: 768px) {
  footer {
    position: fixed;
  }
}

/*

footer>div {
    margin: 10%;
    

}

*/
.codigo {
  font-style: italic;
  font-family: 'Fasthand', cursive;
  color: gray;
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */