.card_pro {
    @extend .card;
    div {
        margin: auto;
        justify-content: center;
        align-content: center;
        
    }
}

a {
    color: white;
    text-decoration: none;
    
}

a:hover {
    color:#aa4726;

}